.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  position: relative;
}

.searchAreaInput {
  width: 50vw;
  height: 5vh;
  border-radius: .3em;
  padding: 1em;
  margin-right: 1em;
  font-size: 1em;
  outline: none;

  &:focus {
    filter: drop-shadow(0 0 0.40rem rgb(20, 136, 230));
  }

  &::before {
    width: 1em;
    background-image: url("../assets/icons/Icons_search.gif");
    padding-left:30px;
  }
}

.SearchAreaButton {
  font-weight: 600;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #315b92;
  color: #fff;
  width: 20vw;
  min-height: 5vh;
  height: 100%;
  border-radius: .3em;
  border: 0;
  font-size: 1em;
  padding: 0.5em 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;

  &:hover {
    opacity: .8;
    transition: opacity .2s linear;
  }

  &:active {
    opacity: 1;
    transition: opacity .2s linear;
  }
}

.dropdownWrapper {
  position: absolute;
  height: fit-content;
  left: 14%;
  top: 19%;
  background-color: #fff;
  border-radius: .3em;
  outline: none;
  z-index: 1000;
  width: calc(80% - 8px);
  min-width: 70vw;
  max-width: none;
  max-height: calc(90vh - 140px);
  padding: 0;
  overflow-y: scroll;
  box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.15);
  
}

.dropdownWrapper ul {
  display: grid;
  gap: 1em;
  padding: 0;
  list-style-type: none;
}

.dropdownWrapper ul a {
  display: block;
  width: 100%;
}

.dropdownWrapper ul img {
  width: 10em;
  max-width: 10%;
}

