$bookListMainColor: #9fadbc;

.booksWrap {
  width: 95vw;
  margin: 0 auto;
  margin-bottom: 5em;
}

.booksList {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  color: $bookListMainColor;
}

.BooksCounterContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.BooksCounterContainer {
  color: $bookListMainColor;
}
