$bookListMainColor: #9fadbc;

.booksList {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 2em;
  color: $bookListMainColor
}

.BooksCounterContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.BooksCounterContainer {
  color: $bookListMainColor
}