$bookListMainColor: #9fadbc;

.booksList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15%, 5fr));
  gap: 1em;
  align-items: start;
  margin-top: 2em;
  color: $bookListMainColor
}

.BooksCounterContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
}

.BooksCounterContainer {
  color: $bookListMainColor
}