

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  border-bottom: 1px solid #ccc;
}

.headerTitle {
  color: #9fadbc;
}


.headerLogo {
  margin-right: 1em;
  cursor: pointer;
  transition: all .2s linear;
  border-bottom: 1px solid #ccc;
}

.headerLogo:hover {
  transform: rotate(-15deg) translateX(-5px);;
}
