.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: calc((100vw - 35em) / (80 - 3) * (1.5 - 1) + 1em);
}

.headerTitle {
  color: #9fadbc;
  font-size: calc((100vw - 35em) / (80 - 3) * (1.5 - 1) + 1em);
}

.headerLogo {
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.2s linear;
  border-bottom: 1px solid #ccc;
}

.headerLogo:hover {
  transform: rotate(-15deg) translateX(-5px);
}

.headerUserAvatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.headerLinks {
  display: flex;
  align-items: center;
  width: 40%;
  color: inherit;
  margin-left: 1em;
  justify-content: space-between;
  transition: color 0.2s linear;
}
