.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 3em 3em 3em;
  line-height: 1.5em;
  font-size: calc((100vw - 80em) / (80 - 30) * (1.5 - 1) + 1em);
}

.bookCard {
  height: 100%;
  min-height: 300px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
  font-size: 1em;
  box-shadow: 4px 4px 8px 0px rgba(83, 172, 240, 0.2);
}

h1 {
  font-size: calc((100vw - 90em) / (80 - 30) * (1.5 - 1) + 1em);
}

.bookCard h2,
h3 {
  line-height: 1.5em;
  margin: 1em 0;
}

.bookCard a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: rgb(20, 136, 230);
  }
}

.bookCardImg {
  user-select: none;
  width: 10%;
  border-radius: 0.3em;
  transform: scale(1);
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.downloadButton {
  margin-top: 1em;
  width: 30vw;

  & a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}
