.bookCard {
  display: flex;
  min-height: 450px;
  flex-direction: column;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
  font-size: 1em;
  box-shadow: 4px 4px 8px 0px rgba(83, 172, 240, 0.2);
}

@media only screen and (max-width: 400px) {
  .bookCard {
    width: calc(96% - 1em);
  }
}

@media only screen and (min-width: 400px) {
  .bookCard {
    width: calc(45% - 1em);
  }
}

@media only screen and (min-width: 600px) {
  .bookCard {
    width: calc(47% - 1em);
  }
}

@media only screen and (min-width: 768px) {
  .bookCard {
    width: calc(31% - 1em);
  }
}

@media only screen and (min-width: 992px) {
  .bookCard {
    width: calc(31% - 1em);
  }
}

@media only screen and (min-width: 1200px) {
  .bookCard {
    width: calc(14% - 1em);
  }
}

.bookCard h2,
h3 {
  font-size: 1em;
  margin: 1em 0;
}

.bookCard h3 {
  font-size: 0.9em;
}

.bookCard a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: rgb(20, 136, 230);
  }
}

.bookCardImg {
  user-select: none;
  width: 80%;
  border-radius: 0.3em;
  transform: scale(1);
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}
